* {
    box-sizing: border-box;
}
body {
    font-family: 'Noto Sans', sans-serif;  /*setting bg color to cream */
}
/* i want a 2-column grid w/ 4 main elements in the grid*/
.flex-container {
    padding: 0 4px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
@media (max-width: 800px) {
    .flex-container {
        flex-direction: column;
    }
}
.flex-container img {
    margin: 4px;
}
.intro {
    font-family: 'Rock Salt', cursive;
}
.flex1 {
    flex: 50%;
    background-color: #f2ebe2;
    margin: auto;
    border: #F2EBE2;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
}
.flex2 {
    background-color: #197C9B;
    flex: 50%;
    margin: auto;
    border: #197C9B;
    border-radius: 8px;
    padding: 20px;
}
.flex3 {
    background-color: #9b3819;
    flex:100%;
    border: #9b3819;
    border-radius: 8px;
}
#navbar {
    list-style: none;
    margin: 10px;
    padding: 2px;
}
#navbar li {
    float: right;
}
#navbar li a {
    text-align: center;
    padding: 10px;
    width: 80px;
    text-decoration: none;
    color:black;
    box-shadow: inset 0 0 0 0 #F2EBE2;
    transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
}
#navbar li a:hover {
    box-shadow: inset 100px 0 0 0 #9b3819;
    color: #F2EBE2;
}
a {
    display: block;
}
img {
    max-width: max-content;
}
footer {
    padding: 50px;
    font-family: 'Noto Sans', sans-serif;
    text-align: center;

}
footer a {
    text-decoration: none;
    text-align: center;
    padding: 10px;
    width: 80px;
    box-shadow: inset 0 0 0 0 #F2EBE2;
    transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
}
footer a:hover {
    box-shadow: inset 100px 0 0 0 #197C9B;
    color: #F2EBE2;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
